---
layout: default
---
<!-- Main -->
<div id="main">

	<!-- About -->
	<article id="about">
		<h2 class="major">About</h2>
		<span class="image main"><img src="images/banners/about.webp" alt="" /></span>
		<p>For years, Bethesda fans around the world have yearned for a multiplayer experience in their favorite games. Many felt as though ESO and Fallout76 simply didn't fit the bill, providing more of an MMO experience than a co-op one, and thus the Together Team was formed. After a long development process of over 5 years, a complete rewrite of the code base, and countless hours spent overcoming various obstacles, the Together Team finally released their passion project in the form of Skyrim Together Reborn. Now that it is open source, future development of Reborn is heavily reliant on the community to contribute. Therefore, there are no promised release dates or estimates on mod progress or features. However, you can monitor the status of the project by checking the News tab or our social media.</p>
	
		<h2 class="major">Social</h2>
		<p>Our community has grown drastically and continues to do so - all we're missing is you! Feel free to connect with us on any of the following media, whether you're looking for help or just want to chat :)</p>
		<ul class="icons">
			<li><a href="https://twitter.com/Skyrim_Together" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.reddit.com/r/SkyrimTogether/" class="icon brands fa-reddit-alien"><span class="label">Reddit</span></a></li>
			<li><a href="https://discord.com/invite/skyrimtogether" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
			<li><a href="https://www.youtube.com/channel/UCGt6Nu8_L8lw1NXJVZg43Cg" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
		</ul>
	</article>

	<!-- News -->
	<article id="news">
		<h2 class="major">News</h2>
		<span class="image main"><img src="images/banners/news.webp" alt="" /></span>
		<p>We are always working hard to develop and improve our mod. Below you'll be able to view all of our latest posts and announcements - check back in regularly to stay up to date with our progress!</p>
		<ul class="alt">
			{% for post in site.posts %}
			<li>
				<a href="#news-{{ post.title | slugify }}">
					<h2>{{ post.title }}</h2>
					<h5>{{ post.date | date: "%-d %B %Y" }}</h5>
				</a>
			</li>
			{% endfor %}
		</ul>
	</article>
	{% for post in site.posts %}
	<article id="news-{{ post.title | slugify }}" class="post">
		<h2>{{ post.title }}</h2>
		<h5>{{ post.date | date: "%-d %B %Y" }}</h5>
		<p>{{ post }}</p>
	</article>
	{% endfor %}
</div>
