<!-- BG -->
<div id="bg">
  {% for image in site.static_files %}
    {% if image.path contains 'images/backgrounds' %}
        <div><img src="{{ site.baseurl }}{{ image.path }}"/></div>
    {% endif %}
  {% endfor %}
</div>

<!-- Ronya, Amina, and Richard are absolute poggies amen-->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<!-- move this script later, only here as a hack for demo purposes -->
<script>
$(window).on('load', function(){
  $("#bg > div").hide();
  setTimeout(function(){ $("#bg > div:first").show();}, 1000);
  setSlide();
  function setSlide() { 
    $('#bg > div:first')
    .fadeOut(1000)
    .next()
    .delay(1000)
    .fadeIn(1000)
    .end()
    .appendTo('#bg');
    setTimeout(setSlide, 5000);
  }
})
</script>
