<!-- BG -->
<div id="bg">
  <img src="images/backgrounds/community.png" />
  <img src="images/backgrounds/overlay.png" style="z-index:2"/>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<!-- move this script later, only here as a hack for demo purposes -->
<script>
$(document).ready(function(){
  var bgArray = [{% for image in site.static_files %}{% if image.path contains 'images/backgrounds' %}"{{ image.name }}",{% endif %}{% endfor %}];
  var bgImage = bgArray[Math.floor(Math.random() * bgArray.length)];
  $('#bg > img:first').attr('src', 'images/backgrounds/'+bgImage);
  $('#image-credit').text(bgImage.substring(0,bgImage.lastIndexOf('.')).toUpperCase());
})
</script>
