<header id="header">
	<div class="logo darken-bg">
		<img class="logo-image" src="images/logo.png"></span>
	</div>
	<div class="content">
		<div class="inner darken-bg">
			<h1>The Together Team</h1>
			<p><b>Bringing the multiplayer experience to Skyrim and Fallout 4<br> that we've all dreamed of.</b></p>
		</div>
	</div>
	<nav>
		<ul class="darken-bg">
			<li><a href="#about">About</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="https://wiki.tiltedphoques.com/tilted-online/">Wiki</a></li>
			<li><a href="https://github.com/tiltedphoques/TiltedEvolution">Github</a></li>
			<li><a href="https://www.nexusmods.com/skyrimspecialedition/mods/69993">Download</a></li>
		</ul>
	</nav>
</header>
