<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="Home of the SkyrimTogether and FalloutTogether communities.">
	<meta name="keywords" content="TogetherTeam, Skyrim, SkyrimTogether, Fallout, FalloutTogether, Together, TiltedOnline">
	<meta name="author" content="Lord Kanelsnegle">
		
	<meta property="og:site_name" content="The Together Team"/>
	<meta property="og:title" content="Multiplayer for Skyrim and Fallout 4" />
	<meta property="og:description" content="Home of the SkyrimTogether and FalloutTogether communities.">
	<!-- fix these later -->
	<meta property="og:image" content="https://lordkanelsnegle.github.io/TheTogetherTeam/images/logo.png" />
	<meta property="og:url" content="https://lordkanelsnegle.github.io/TheTogetherTeam/"/>
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary">

	<title>The Together Team</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="assets/css/main.css?v=2" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
